<h1> Coordenadas </h1>

<%= form_tag(coordenadas_index_path, method: :get) do %>
  <%= label_tag "X:" %>
  <%= text_field_tag "x" %>
  <%= label_tag "Y:" %>
  <%= text_field_tag "y" %>
  <%= label_tag "Z:" %>
  <%= text_field_tag "z" %>
  <%= submit_tag "Enviar" %>
<% end %>

<ul>
    <% @coordenadas.each do |coordenada| %>
    <li> 
        <%= coordenada.name%> -- <%=coordenada.value%>
    </li>
    <%end%>
</ul>

<ul>
    <%@coordenadas%>