<h2>Filtros</h2>

 <!-- <%= stylesheet_link_tag 'filtro' %> -->

<!-- Seleciona o experimento -->

<%= form_tag(filtros_index_path, method: :get, id: 'filtros') do %>
  <div class="experimento">
    <%= label_tag :experimento, 'Selecione um experimento:' %>
    <%= select_tag :experimento, options_for_select(@todos_os_experimentos), include_blank: true %>
  </div>

  <!-- Caixinhas para os inputs -->

  <div class="status">
    <label for="status">Status:</label>
    <%= select_tag :status, options_for_select(["aprovado", "reprovado", "em execuçao", "parcialmente aprovado"]), include_blank: true %>
  </div>

  <div class="ativos">
    <label for="ativos">Ativos:</label>
    <%= select_tag :ativos, options_for_select(["Habilitado", "Desabilitado"]), include_blank: true %>
  </div>

  <div class="coordenadas">
    <label for="coordenadas">Coordenadas:</label>
    <%= label_tag "X -" %>
    <%= text_field_tag :coordenadas_x, nil, size:2 %>
    <%= label_tag "Y -" %>
    <%= text_field_tag :coordenadas_y, nil, size:2 %>
    <%= label_tag "Z -" %>
    <%= text_field_tag :coordenadas_z, nil, size:2 %>
  </div>

  <div class="bateria">
    <label for="bateria">Bateria:</label>
    <%= text_field_tag :bateria, nil, placeholder: "Digite com a porcentagem" %>
  </div>

  <div class="tags">
    <label for="tags">Tags:</label>
    <%= text_field_tag :tags, nil, placeholder: "Digite ou selecione uma tag", list: "todas_as_tags", size: 22 %>

    <!-- Lista de todas as tags -->
    <datalist id="todas_as_tags">
      <% @lista_de_nomes_das_tags.each do |tag| %>
        <option value="<%= tag %>">
      <% end %>
    </datalist>
  </div>

  <div class="actions">
    <%= submit_tag 'Filtrar' %>
  </div>
<% end %>


<% if params[:commit] == 'Filtrar' %>
  <h3>Resultados</h3>

  <% if !@printar_no_final.empty?%>

    <div class="row">
      <% @printar_no_final.each do |item| %>
        <div class="col-md-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h4> <%= item[0] %> </h4>
              <% if item[1] == false %>
                <%= "Habilitado" %>
              <% else %>
                <%= "Desabilitado" %>
              <% end %>
              <div>
                <%= " Coordenadas: X - #{item[5]} | Y - #{item[6]} | Z - #{item[7]}"%>
              </div>
              <div>
                <%= "Status: #{item[2]}" %>
            </div>
              <div>
                <%= "Bateria: #{item[3]}" %>
              </div>
              <div>
                <%= "Tags:"%>
                <%if !(item[4] == [""]) %>
                  <% item[4].each_with_index do |tag, index| %>
                    <%= "#{tag}" %>
                    <%= "," unless index == item[4].size - 1 %>
                  <% end %>
                <%else%>
                  <%= "Nenhuma Tag Registrada" %>
                <% end %>
              </div>
            
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <%else%>
    <%= "Não há testes registrados com as informações solicitadas"%>
  <%end%>
<%end%>
