<h2>Filtragem</h2>

<!-- Seleciona o experimento -->

<%= form_tag(filtros_index_path, method: :get) do %>
  <div class="field">
    <%= label_tag :experimento, 'Selecione um experimento:' %>
    <%= select_tag :experimento, options_for_select(@todos_os_experimentos), include_blank: true %>
  </div>

  <!-- Caixinhas para os inputs -->

  <label for="status">Status:</label>
  <%= select_tag :status, options_for_select(["aprovado", "reprovado", "em_execucao", "parcialmente_aprovado"]), include_blank: true %>

  <label for="ativos">Ativos:</label>
  <%= select_tag :ativos, options_for_select(["Habilitado", "Desabilitado"]), include_blank: true %>

  <label for="coordenadas">Coordenadas:</label>
  <%= label_tag "X -" %>
  <%= text_field_tag :coordenadas_x %>
  <%= label_tag "Y -" %>
  <%= text_field_tag :coordenadas_y %>
  <%= label_tag "Z -" %>
  <%= text_field_tag :coordenadas_z %>

  <label for="bateria">Bateria:</label>
  <%= text_field_tag :bateria %>

  <label for="tags">Tags:</label>
  <%= text_field_tag :tags %>

 <div class="actions">
    <%= submit_tag 'Filtrar' %>
  </div>
<% end %>

<h3>Informações</h3>

<div class="row">
  <% @printar_no_final.each do |item| %>
    <div class="col-md-3 mb-3">
      <div class="card">
        <div class="card-body">
          <%= item %>
        </div>
      </div>
    </div>
  <% end %>
</div>

